* {
    padding: 0px;
    margin: 0px;
}
nav {
  display: flex;
  width: 100%;
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  padding: 2rem 3rem;
  border-bottom: 1px solid red;
}
